<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: 21_BasicWhite (10.2)</string>
	<string>M10.2-7028.0.88-3</string>
	<string>M10.3.5-7029.5.5-2</string>
	<string>G-r1020-10DF05</string>
	<string>M10.3.8-7029.8.2-2</string>
	<string>G-r1020-10DF05</string>
	<string>M10.3.8-7029.8.2-2</string>
	<string>M10.3.9-7029.9.8-5</string>
	<string>M11.0-7030.0.94-2</string>
	<string>M11.0.1-7030.1.2-4</string>
	<string>G-r1100-11A141</string>
</array>
</plist>
